<h1>Contacts</h1>

<%= link_to "New Contact", new_contact_path %>

<div id="contacts">
	<% @contacts.each do |contact| %>
	<h2><%= link_to contact.lname, contact %></h2>
	<p><%= contact.description %></p>
	<% end %>
</div>


